telethon
python-dotenv
tqdm
pytest
pytest-asyncio



dbt-postgres
sqlalchemy
psycopg2-binary
pandas
numpy


requests
python-dateutil
pytz

pytest-cov
pytest-asyncio

black
flake8
pylint

dagster
dagster-postgres

alembic